.imageofServices{
    height:200px;
    width:250px;
    
}
.explore-menu-list .active{
    border:4px solid tomato;
    padding:2px
}
.explore{
    cursor: pointer;
    transition: 0.5s;

}

.explore:hover{
    transform:scale(1.05)
}